- if show_seat_count_alert?
  = render Pajamas::AlertComponent.new(alert_options: { class: 'js-approaching-seat-count-threshold',
    data: { dismiss_endpoint: group_callouts_path,
            feature_id: Users::GroupCalloutsHelper::APPROACHING_SEAT_COUNT_THRESHOLD,
            group_id: namespace.id }},
    title: _('%{group_name} is approaching the limit of available seats') % { group_name: namespace.name },
    close_button_options: { data: { testid: 'approaching-seat-count-threshold-alert-dismiss' }}) do |c|
    - c.with_body do
      = n_('Your subscription has %{remaining_seat_count} out of %{total_seat_count} seat remaining.', 'Your subscription has %{remaining_seat_count} out of %{total_seat_count} seats remaining.', total_seat_count) % { remaining_seat_count: remaining_seat_count, total_seat_count: total_seat_count }
      = seat_count_text
      = link_to _('Learn more.'), seat_count_help_page_link, target: '_blank', rel: 'noopener noreferrer'
    - c.with_actions do
      = link_button_to _('View seat usage'), usage_quotas_path(namespace, anchor: 'seats-quota-tab'), class: 'gl-alert-action', variant: :confirm
- else
  = render Namespaces::BlockSeatOverages::AllSeatsUsedAlertComponent.new(context: context, content_class: full_content_class, current_user: current_user)
